{{#if errors}}
  <div class="ui negative message transition">
    <!--<i class="close icon"></i>-->
    <div class="header">
      There was some errors with your submission
    </div>
    <ul class="list">
      {{#each errors}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}