<nav class="ui blue inverted menu">
  <header class="header item"><a href="/home"> Twitter-Clone </a></header>
  <div class="right menu">
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>