<div class="ui card">
  <div class="content">
    {{author.firstName}} {{author.lastName}}
    <div class="right floated meta">
      <form action="/deleteTweet" method="POST">
        <input hidden name="_id" value="{{_id}}">
        <button class="ui icon button" style="background: white;">
          <i class="delete icon" style="background: white;"></i>
        </button>
      </form>
    </div>
    <div class="bottom floated meta">{{formatRelative date}}</div>
  </div>
  <div class="description" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
    {{content}}
  </div>
</div>