{{#if isAdmin}}

{{else}}
  <div class="item">
    <div class="content">
      <div class="left floated meta" style="vertical-align: middle; padding-top: 10px">
        {{firstName}} {{lastName}}
      </div>
      <div class="right floated meta">
        <form action="/deleteUser" method="POST">
          <input hidden name="_id" value="{{_id}}">
          <button class="ui icon button" style="background: white;">
            <i class="delete icon" style="background: white;"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
{{/if}}