{{> mainmenu _id="home" }}

<section class="ui raised segment">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        {{>tweetList}}
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui two column grid">
          <div class="column">
            <form action="/deleteAllTweets" method="POST">
              <button class="ui blue submit button">Delete All Tweets</button>
            </form>
            {{> formerror}}
          </div>
          <div class="column">
            <form action="/deleteAllUsers" method="POST">
              <button class="ui blue submit button">Delete All User</button>
            </form>
            {{> formerror}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        {{>userList}}
      </div>
    </div>
  </div>

  <div class="ui  divider"></div>
</section>