{{>welcomemenu}}

<section class="ui raised segment">
  <div class="ui grid">
    <aside class="ui three wide column">
      <p>
        Admin Login for Twitter Clone.
      </p>
    </aside>
    <div class="ui ten wide column">
      {{>login}}
    </div>
  </div>
</section>